In [1]:
import pandas as pd
import os

In [6]:
from JO_modules import extract_, merge_, dropna_, load_, compress_

In [7]:
path_dir = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/Batch_data'
path_2020 = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/Batch_data/20.04.01~21.01.03/S-DoT_NATURE_2020.04.01-04.30.csv'
path_2021 = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/Batch_data/21.01.04~22.01.02'
path_2022 = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/Batch_data/22.01.03~23.01.01'
path_2023 = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/Batch_data/23.01.02~23.03.26/S-DoT_NATURE_2023.03.20-03.26.csv'

In [8]:
df1 = extract_.extract_col_1(path_2020)
df2 = extract_.extract_col_1(path_2023)

In [9]:
df1.head(10)

   초미세먼지(㎍/㎥)  미세먼지(㎍/㎥)  초미세먼지 보정(㎍/㎥)  미세먼지 보정(㎍/㎥)            등록일자
0          15         26           24.0          53.0   2020.4.1 1:00
1          21         37           37.0          74.0  2020.4.1 12:00
2          18         39           29.0          79.0  2020.4.1 18:00
3           2          3            4.0           6.0   2020.4.2 0:00
4           3          5            6.0          10.0   2020.4.2 6:00
5           8         16           16.0          32.0  2020.4.2 12:00
6           6         13           12.0          25.0  2020.4.2 15:00
7           9         15           18.0          30.0  2020.4.2 23:00
8          12         18           24.0          37.0   2020.4.3 4:00
9          15         25           30.0          49.0  2020.4.3 12:00

In [10]:
df2.head(4)

,초미세먼지 최대(㎍/㎥),초미세먼지 평균(㎍/㎥),초미세먼지 최소(㎍/㎥),미세먼지 최대(㎍/㎥),미세먼지 평균(㎍/㎥),미세먼지 최소(㎍/㎥),등록일시
0,105,60.0,54,158,91.0,80,2023-03-20 12:07:25
1,47,40.0,34,48,41.0,34,2023-03-20 12:07:25
2,112,101.,82,117,105.,85,2023-03-20 12:07:25
3,50,46.0,41,73,67.0,59,2023-03-20 12:07:25

In [11]:
path_dir = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/Batch_data'

df1, df2 = merge_.merge_df_1(path_dir)

c:\Users\wldnr\OneDrive\바탕 화면\DF\Work_JO\CP2\JO_modules\extract_\__init__.py:7: DtypeWarning: Columns (22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')
c:\Users\wldnr\OneDrive\바탕 화면\DF\Work_JO\CP2\JO_modules\extract_\__init__.py:7: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')
c:\Users\wldnr\OneDrive\바탕 화면\DF\Work_JO\CP2\JO_modules\extract_\__init__.py:7: DtypeWarning: Columns (6,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')
c:\Users\wldnr\OneDrive\바탕 화면\DF\Work_JO\CP2\JO_modules\extract_\__init__.py:7: DtypeWarning: Columns (6,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')
c:\Users\wldnr\OneDrive\바탕 화면\DF\Work_JO\CP2\JO_modules\extract_\__init__.py:7: DtypeWarning: Columns (6,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')
c:\Users\wldnr\OneDrive\바탕 화면\DF\Work_JO\CP2\JO_modules\extract_\__init__.py:7: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')
c:\Users\wldnr\OneDrive\바탕 화면\DF\Work_JO\CP2\JO_modules\extract_\__init__.py:7: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')
c:\Users\wldnr\OneDrive\바탕 화면\DF\Work_JO\CP2\JO_modules\extract_\__init__.py:7: DtypeWarning: Columns (6,21) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')
c:\Users\wldnr\OneDrive\바탕 화면\DF\Work_JO\CP2\JO_modules\extract_\__init__.py:7: DtypeWarning: Columns (3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')
c:\Users\wldnr\OneDrive\바탕 화면\DF\Work_JO\CP2\JO_modules\extract_\__init__.py:7: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')
c:\Users\wldnr\OneDrive\바탕 화면\DF\Work_JO\CP2\JO_modules\extract_\__init__.py:7: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(f'{file_path}', encoding = 'cp949')

In [12]:
df1.head(5)

  초미세먼지(㎍/㎥) 미세먼지(㎍/㎥) 초미세먼지 보정(㎍/㎥) 미세먼지 보정(㎍/㎥)            등록일자
0         15        26          24.0         53.0   2020.4.1 1:00
1         21        37          37.0         74.0  2020.4.1 12:00
2         18        39          29.0         79.0  2020.4.1 18:00
3          2         3           4.0          6.0   2020.4.2 0:00
4          3         5           6.0         10.0   2020.4.2 6:00

In [13]:
df2.head(5)

,초미세먼지 최대(㎍/㎥),초미세먼지 평균(㎍/㎥),초미세먼지 최소(㎍/㎥),미세먼지 최대(㎍/㎥),미세먼지 평균(㎍/㎥),미세먼지 최소(㎍/㎥),등록일시
0,4,4.0,4,4,4.0,4,2023-01-02 00:07:24
1,4,4.0,3,5,5.0,4,2023-01-02 00:07:24
2,10,9.0,9,15,12.0,11,2023-01-02 00:07:24
3,60,10.0,4,60,10.0,4,2023-01-02 00:07:24
4,9,9.0,8,12,11.0,10,2023-01-02 00:07:24

In [14]:
print('df1_shape :', df1.shape)
print('df2_shape :', df2.shape)

df1_shape : (22221648, 5)
df2_shape : (1483948, 7)

In [15]:
df1 = dropna_.drop_na(df1)
df2 = dropna_.drop_na(df2)

In [16]:
print('df1_dropna_shape :', df1.shape)
print('df2_dropna_shape :', df2.shape)

df1_dropna_shape : (22165805, 5)
df2_dropna_shape : (1468610, 7)

In [17]:
csv_load_path = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/df_csv'

load_.load_as_csv(df1, csv_load_path, '20.04.01~23.01.01')
load_.load_as_csv(df2, csv_load_path, '23.01.02~')

In [18]:
gzip_load_path = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/df_gzip'

csv_file = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/df_csv/20.04.01~23.01.01.csv'
gz_file = 'C:/Users/wldnr/OneDrive/바탕 화면/DF/Work_JO/CP2/df_gzip/20.04.01~23.01.01.gz'

compress_.load_to_gzip(df1, gzip_load_path, '20.04.01~23.01.01')
compress_.load_to_gzip(df2, gzip_load_path, '23.01.02~')

# Kbytes 단위변환 (확인용)
def convert_size(size_bytes):
    import math
    if size_bytes == 0:
        return "0B"
    size_name = ("B", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB")
    i = int(math.floor(math.log(size_bytes, 1024)))
    p = math.pow(1024, i)
    s = round(size_bytes / p, 2)
    return "%s %s" % (s, size_name[i])

csv_size = os.path.getsize(csv_file)
gz_size = os.path.getsize(gz_file)

print(f'File size :', convert_size(gz_size))
print(f'압축률 : {100 - (gz_size/csv_size * 100):.2f} %')

File size : 118.11 MB
압축률 : 86.88 %